# Copiá este archivo como .env y completá los valores
SECRET_KEY=cambia-esto-por-algo-seguro
DATABASE_URL=postgresql+psycopg://postgres:tu_password@localhost:5432/demo_db
FLASK_ENV=development
FLASK_DEBUG=1
